.relavent-story-post-wrap .single-relavent-post .post-right h4{
    max-width: 400px;
}
.latest-post-area .latest-post-wrap .single-latest-post .post-right h4{
    max-width: 400px;
}
.thumb img{
    height: 90px;
    width: 120px;
}
.nav-menu ul{
    margin-top: 0;
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}
.nav-menu ul li:first-child{
    margin-top: 10px;
    border-top: 2px solid #eee;
}
.nav-menu ul li{
    border-top:1px solid #eee;
}
.nav-menu ul li:last-child{
    border-bottom: 2px solid #eee;
}
/*.Search-box-label, .Search-close {*/
    /*margin-bottom: 0;*/
    /*margin-top: 5px;*/
/*}*/
/*.popular-post-wrap h4{*/
    /*height: 55px !important;*/
/*}*/
.post-left{
    padding-bottom: 5px;
}
.pagination{
    /*margin-top: 20px;*/
    margin: 20px auto 15px;
}
.page-item.active .page-link{
    background-color: #0a0a0a;
}
.page-link{
    color: #f6214b;
}
.page-link:focus{
    box-shadow: none;
}
.wp-block-image{
    margin-bottom: 20px;
}
.content-wrap p{
    font-size: 17px;
}
.single-popular-post{
    margin-bottom: 10px;
}